[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/19ks_y6RxHxslzdqtH4AkL3mAbJ4m2eOx#scrollTo=wzvqt7TlnK-Y)

### Amazon.com - Employee Access Challenge

**[1. Data loading and overview](#heading--1)**

**[2. Exploratory Data Analysis](#heading--2)**

  * [2.1. Checking duplicates](#heading--2-1)
  * [2.2. Checking missing values](#heading--2-2)
  * [2.3. genres column](#heading--2-3)

In [1]:
# data visualisation and manipulation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
%matplotlib inline 
style.use('ggplot')
sns.set()

# Ignore  the warnings
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

### 1. Data loading and overview <a name="heading--1"/>

In [2]:
# Loading train and test data
train_raw = pd.read_csv('train.csv')
test_raw = pd.read_csv('test.csv')

# copying of original data
train = train_raw.copy()
test = test_raw.copy()

# Id from test set is necessary to submit the file on Kaggle
test_id = test['id']

In [3]:
train.head()

   ACTION  RESOURCE  MGR_ID  ...  ROLE_FAMILY_DESC  ROLE_FAMILY  ROLE_CODE
0       1     39353   85475  ...            117906       290919     117908
1       1     17183    1540  ...            118536       308574     118539
2       1     36724   14457  ...            267952        19721     117880
3       1     36135    5396  ...            240983       290919     118322
4       1     42680    5905  ...            123932        19793     119325

[5 rows x 10 columns]

In [4]:
test.head()

   id  RESOURCE  MGR_ID  ...  ROLE_FAMILY_DESC  ROLE_FAMILY  ROLE_CODE
0   1     78766   72734  ...            118177        19721     117880
1   2     40644    4378  ...            122008       118398     118865
2   3     75443    2395  ...            301534       249618     118175
3   4     43219   19986  ...            136187       118960     120774
4   5     42093   50015  ...            300136       118424     118425

[5 rows x 10 columns]

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32769 entries, 0 to 32768
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ACTION            32769 non-null  int64
 1   RESOURCE          32769 non-null  int64
 2   MGR_ID            32769 non-null  int64
 3   ROLE_ROLLUP_1     32769 non-null  int64
 4   ROLE_ROLLUP_2     32769 non-null  int64
 5   ROLE_DEPTNAME     32769 non-null  int64
 6   ROLE_TITLE        32769 non-null  int64
 7   ROLE_FAMILY_DESC  32769 non-null  int64
 8   ROLE_FAMILY       32769 non-null  int64
 9   ROLE_CODE         32769 non-null  int64
dtypes: int64(10)
memory usage: 2.5 MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58921 entries, 0 to 58920
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                58921 non-null  int64
 1   RESOURCE          58921 non-null  int64
 2   MGR_ID            58921 non-null  int64
 3   ROLE_ROLLUP_1     58921 non-null  int64
 4   ROLE_ROLLUP_2     58921 non-null  int64
 5   ROLE_DEPTNAME     58921 non-null  int64
 6   ROLE_TITLE        58921 non-null  int64
 7   ROLE_FAMILY_DESC  58921 non-null  int64
 8   ROLE_FAMILY       58921 non-null  int64
 9   ROLE_CODE         58921 non-null  int64
dtypes: int64(10)
memory usage: 4.5 MB

In [7]:
# some basic statistics for numerical columns
train.describe().T

                    count           mean  ...       75%       max
ACTION            32769.0       0.942110  ...       1.0       1.0
RESOURCE          32769.0   42923.916171  ...   74189.0  312153.0
MGR_ID            32769.0   25988.957979  ...   42034.0  311696.0
ROLE_ROLLUP_1     32769.0  116952.627788  ...  117961.0  311178.0
ROLE_ROLLUP_2     32769.0  118301.823156  ...  118386.0  286791.0
ROLE_DEPTNAME     32769.0  118912.779914  ...  120535.0  286792.0
ROLE_TITLE        32769.0  125916.152644  ...  120006.0  311867.0
ROLE_FAMILY_DESC  32769.0  170178.369648  ...  235280.0  311867.0
ROLE_FAMILY       32769.0  183703.408893  ...  290919.0  308574.0
ROLE_CODE         32769.0  119789.430132  ...  119348.0  270691.0

[10 rows x 8 columns]

In [8]:
test.describe().T

                    count           mean  ...       75%       max
id                58921.0   29461.000000  ...   44191.0   58921.0
RESOURCE          58921.0   39383.739482  ...   45481.0  312136.0
MGR_ID            58921.0   26691.645050  ...   46512.0  311779.0
ROLE_ROLLUP_1     58921.0  117028.638041  ...  117961.0  311178.0
ROLE_ROLLUP_2     58921.0  118316.334091  ...  118386.0  194897.0
ROLE_DEPTNAME     58921.0  118858.006721  ...  120410.0  277693.0
ROLE_TITLE        58921.0  126358.019993  ...  120006.0  311867.0
ROLE_FAMILY_DESC  58921.0  170455.861425  ...  234813.0  311867.0
ROLE_FAMILY       58921.0  179278.058960  ...  290919.0  308574.0
ROLE_CODE         58921.0  119707.754264  ...  119353.0  270691.0

[10 rows x 8 columns]

In [12]:
print(f'the shape of the train set: {train.shape}')
print(f'the shape of the test set: {test.shape}')

the shape of the train set: (32769, 10)
the shape of the test set: (58921, 10)

### 2. Exploratory Data Analysis <a name="heading--2"/>

**Column Descriptions:**

ACTION: ACTION is 1 if the resource was approved, 0 if the resource was not.

RESOURCE: An ID for each resource.

MGR_ID: The EMPLOYEE ID of the manager of the current EMPLOYEE ID record; an employee may have only one manager at a time.

ROLE_ROLLUP_1: Company role grouping category id 1 (e.g. US Engineering).

ROLE_ROLLUP_2: Company role grouping category id 2 (e.g. US Retail).

ROLE_DEPTNAME: Company role department description (e.g. Retail).

ROLE_TITLE: Company role business title description (e.g. Senior Engineering Retail Manager).

ROLE_FAMILY_DESC: Company role family extended description (e.g. Retail Manager, Software Engineering).

ROLE_FAMILY: Company role family description (e.g. Retail Manager).

ROLE_CODE: Company role code; this code is unique to each role (e.g. Manager).

#### 2.1. Checking duplicates <a name="heading--2-1"/>

Checking if there are duplicate rows in training and test sets

In [13]:
train.duplicated().sum()

0

In [14]:
test.duplicated().sum()

0

#### 2.2. Checking missing values <a name="heading--2-2"/>

Checking if there are null values in training and test sets

In [15]:
train.isnull().sum()

ACTION              0
RESOURCE            0
MGR_ID              0
ROLE_ROLLUP_1       0
ROLE_ROLLUP_2       0
ROLE_DEPTNAME       0
ROLE_TITLE          0
ROLE_FAMILY_DESC    0
ROLE_FAMILY         0
ROLE_CODE           0
dtype: int64

In [16]:
test.isnull().sum()

id                  0
RESOURCE            0
MGR_ID              0
ROLE_ROLLUP_1       0
ROLE_ROLLUP_2       0
ROLE_DEPTNAME       0
ROLE_TITLE          0
ROLE_FAMILY_DESC    0
ROLE_FAMILY         0
ROLE_CODE           0
dtype: int64